.App {
  position: relative;
  text-align: center;
  /*background-color: rgb(102, 0, 102);*/
  background-image: linear-gradient(darkslateblue, #993399);
  display: flex;
  margin : auto;
  width: auto;
  height: 700px;
  /*width:50%;
  left: 25%;
  border: 10px solid red;*/
}

.App-header {
  /*background-color: ghostwhite; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(102, 0, 102);
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: White;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border : 2px solid rgb(102, 0, 10);
  border-radius: 20px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border : 1px solid black;
  border-radius: 20px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  border: 1px solid #660066;
  border-radius: 10px;
}
button:hover{
  color: rgb(153, 51, 153);
}